<!DOCTYPE html>
<html>
  <head>
    <title>Poetic-Metaphoer-Search-Application</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="container">
      <h1>Poetic-Metaphoer-Search-Application</h1>
      <form action="/search" method="post">
        <select name="searchOption">
          <option value="poem_name">Poem Title</option>
          <option value="poet">Poet</option>
          <option value="line">Line</option>
          <option value="Metaphor_in_English">Metaphor in English</option>
          <option value="Metaphor meaning in English">
            Meaning in English
          </option>
        </select>
        <input type="text" name="searchTerm" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>

      <% if (searchResults) { %>
      <h2>Search Results:</h2>
      <table>
        <tr>
          <th>Poem Name</th>
          <th>Poet</th>
          <th>Line</th>
          <th>Metaphor in English</th>
          <th>Meaning</th>
        </tr>
        <% searchResults.forEach(result=> { %>
        <tr>
          <td><%= result.poem_name %></td>
          <td><%= result.poet %></td>
          <td><%= result.line %></td>

          <td><%= result.Metaphor_in_English %></td>
          <td><%= result['Metaphor meaning in English'] %></td>
        </tr>
        <% }); %>
      </table>
      <% } %> <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
    </div>
  </body>
</html>
